
.login__container {
    height: 100vh;
    color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 50px;
    font-size: medium;

    .container__login {
        width: 40%;
        height: 350px;
        background: var(--white_two);
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #00000018; 

        .login__title {
            font-size: x-large;
            font-weight: bolder;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
                width: 30px;
            }
        }
        .login__text {
            width: 85%;
            font-size: small;
            text-align: end;
            a {
                color: var(--blue);
            }
        }
        .login__input {
            width: 70%;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: start;
            input {
                width: 100%;
                padding: 5px;
                background: none;
                font-size: large;
                color: var(--black);
                outline: 0;
                border: 0;
                border-bottom: 1px solid #00000054;
            }
            label {
                width: 100%;
                font-weight: 600;
            }
            button {
                padding: 10px;
                outline: none;
                border:  1px solid #00000018;
                background: var(--red);
                cursor: pointer ;
            }
        }
    }

    .container__loading {
        width: 40%;
        height: 350px;
        background: var(--white_two);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #00000018;
        
        img {
            width: 30px;
            animation: pulse 2s infinite;
        }
    }
    .container__box_tfa {
        width: 40%;
        height: 350px;
        background: var(--white_two);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        border-radius: 8px;
        border: 1px solid #00000018;

        .container__box__text {
            padding: 20px;
            text-align: center;

            img {
                width: 20%;
            }
            .email {
                font-weight: 600;
            }
        }
        .container__box__input form{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 20px;
        }
        .container__box__input input {
            font-size: 30px;
            outline: none;
            background: none;
            border: none;
            border-bottom: 1px solid #0000005b;
            color: var(--black);
            width: 40%;
            text-align: center;
            letter-spacing: 10px;
        }
        .container__box__input button {
            padding: 10px;
            margin-left: 5px;
            background: var(--green);
            outline: none;
            border: 1px solid #00000018;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 800px) {
    .login__container .container__box_tfa {
        width: 60%;
    }
    .login__container .container__login {
        width: 60%;
    }
}
@media screen and (max-width: 600px) {
    .login__container .container__box_tfa {
        width: 80%;
        font-size: small;
    }
    .login__container .container__login {
        width: 80%;
        .login__input {
            width: 90%;
        }
    }
}

@keyframes pulse {
	0% {
		transform: scale(1.95);
	}

    70% {
		transform: scale(1);

	}

	100% {
		transform: scale(1.95);
	}
}